.login{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr;
    height: 100vh;
    border: .2px solid white;
}
#b1{
    border: 0.2px solid white;
    grid-column-start: 1;
    grid-column-end: 2;
    background-image: url(./login.jpg);
    /* background-image: url(); */
    background-repeat: no-repeat;
    background-size: cover;
}
#b2{
    border: 1px solid sandybrown;
    grid-column-start: 2;
    grid-column-end: 3;
    /* background-image: url(./img12.webp); */
    /* background-image: url('./login2.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* opacity: 0.5; */
    /* transition: ; */
}
table{
    margin-top: 300px;
    margin-left: 100px;
    color: rgb(100,20,49,);
}